doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO", crossorigin="anonymous")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js", integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js", integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy", crossorigin="anonymous")
    title Edit Event
  body
    nav.navbar.navbar-expanded.navbar-light.bg-light
      ul.nav.nav-pills
        li.nav-item
          a.nav-link(href="/welcome") Home
        li.nav-item
          a.nav-link(href="/schedule") Schedule
        li.nav-item.active
          a.nav-link.active(href="/addEvent") Add Event
        li.nav-item
          a.nav-link(href="/logout") Logout
    br
    br
    .container.mb-5
      form(name="editEvent", method="post", action=`/schedule/edit/${event.event_id}`, id="editEvent")
        .form-group
          label(for="nameInput") Event
          input(type="text", id="nameInput", class="form-control", name="event_event", pattern="[a-zA-Z0-9\s]+", title="Event must be alphanumeric", value=event.event_event, required="")
          small#eventHelp.form-text.text-muted Event name must be alphanumeric
        .form-group
          label(for="dayInput") Day of Week
          select#dayInput.form-control(name="event_day")
            option(value="Sunday", selected=event.event_day==="Sunday") Sunday
            option(value="Monday", selected=event.event_day==="Monday") Monday
            option(value="Tuesday", selected=event.event_day==="Tuesday") Tuesday
            option(value="Wednesday", selected=event.event_day==="Wednesday") Wednesday
            option(value="Thursday", selected=event.event_day==="Thursday") Thursday
            option(value="Friday", selected=event.event_day==="Friday") Friday
            option(value="Saturday", selected=event.event_day==="Saturday") Saturday
        .form-group
          label(for="startTimeInput") Start
          input#startTimeInput.form-control(type="time", name="event_start", required="", value=event.event_start)
        .form-group
          label(for="endTimeInput") End
          input#endTimeInput.form-control(type="time", name="event_end", required="", value=event.event_end)
        .form-group
          label(for="phoneInput") Phone
          input#phoneInput.form-control(type="text", name="event_phone", required="", value=event.event_phone)
        .form-group
          label(for="locationInput") Location
          input#locationInput.form-control(type="text", name="event_location", required="", value=event.event_location)
        .form-group
          label(for="extraInput") Extra Info
          input#extraInput.form-control(type="text", name="event_info", required="", value=event.event_info)
        .form-group
          label(for="urlInput") Enter URL for the Extra Info
          input#urlInput.form-control(type="url", name="event_url", required="", value=event.event_url)
        button(type="submit", class="btn btn-block btn-primary") Submit
